@import "../../StylesRoot/common.scss";

.wrapper {
    .inside {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .burger {}

        .menuMobile {
            border: 1px solid black;
            position: fixed;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            translate: $translate;
        }

        .menuDesktop {
            display: none;
        }
    }
}