@import "../../StylesRoot/common.scss";

.wrapper {
    width: 100%;
    padding-top: 80px;


    h2 {
        display: inline-block;
        width: 300px;
        color: $thirdColor;
        margin: 30px auto 0 auto;
        text-align: center;
    }

    .inside {
        width: 90%;
        margin: 30px auto 0 auto;
        min-height: 55vh;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            background-color: $firstColor;
            border-radius: 20px;
            padding-top: 20px;
            padding-bottom: 20px;

            .element {

                div {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    p {
                        color: grey;
                        font-weight: 700;
                    }

                    input {
                        @include standardInput;
                    }

                    span {
                        color: $worrningColor;
                        font-weight: 700;
                    }
                }

                .check {

                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 20px;


                    label {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        width: 340px;

                        p {
                            margin-left: 10px;

                            cursor: pointer;
                            transition: 0.4s;


                        }

                    }

                    label>input[type="checkbox"] {
                        display: none;
                    }

                    label>input[type="checkbox"]+*::before {
                        content: "";
                        display: inline-block;
                        vertical-align: bottom;
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                        border: 2px solid $thirdColor;
                        border-radius: 4px;
                    }

                    label>input[type="checkbox"]:checked+*::before {
                        content: "✓";
                        color: white;
                        text-align: center;
                        background: $thirdColor;
                        border-color: $thirdColor;
                    }

                    label>input[type="checkbox"]:checked+* {
                        color: $thirdColor;
                        font-weight: 700;
                    }
                }
            }

            .buttons {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    @include formButton;
                }
            }
        }

        .info {
            margin-top: 20px;
            color: $worrningColor;
            font-weight: 700;
            text-align: center;
        }
    }

    @media screen and (min-width:map-get($breakpoints, small)) {
        .inside {


            .form {
                width: 500px;
            }
        }
    }
}