@import "../../StylesRoot/common.scss";

.wrapper {
    background-color: $thirdColor;
    border-radius: $radius;

    padding: 10px;

    .information {
        p {
            color: $textFirstColor;
            text-align: center;
            font-weight: 700;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        button {
            @include formButton;
            background-color: $secondColor;
            color: black;

            &:hover {
                background-color: $firstColor;
                color: $textFirstColor;
            }
        }
    }
}