@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

$roboto: 'Roboto mono';

$transition: 0.4s;

$radius: 10px;

$firstColor: rgb(181, 178, 178);
$darkenFirstColor:rgb(181, 178, 178);
$secondColor: rgb(222, 222, 24);
$darkenSecondColor: rgb(130, 130, 5);
$thirdColor: rgb(99, 42, 205);
$fourthColor: rgb(212, 212, 212);
$darkenFourthColor: rgb(181, 178, 178);
$textFirstColor: rgb(255, 255, 255);
$doneColor: rgb(2, 152, 2);
$worrningColor: rgb(242, 29, 29);

$xs-fz: 13px;
$s-fz: 15px;
$xl-fz: 16px;
$mid-title-fz: 36px;

$breakpoints: (x-small: 480px,
    small: 640px,
    medium: 800px,
    large: 1020px,
    x-large: 1280px,
);