@import "../../StylesRoot/common.scss";

.wrapper {
    width: 100%;
    min-height: calc(100vh - 280px);
    padding-top: 100px;

    .inside {
        width: 90%;
        margin: 0 auto;


        h2 {
            text-align: center;
            color: $thirdColor;
        }

        .buttons {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            button {
                @include standardButton;
                width: 160px;
                margin-bottom: 20px;
            }
        }

        .activity {

            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            .items {
                margin-top: 30px;

                p {
                    text-align: center;
                    font-weight: 700;
                }
            }
        }
    }

    @media screen and (orientation: landscape) {
        min-height: calc(100vh - 200px);
    }

    @media screen and (min-width:map-get($breakpoints, large)) {
        .inside {
            .activity {


                flex-direction: row;


            }
        }
    }

    @media screen and (min-width:map-get($breakpoints, x-large)) {
        .inside {


            .buttons {


                button {

                    width: 200px;

                }
            }
        }
    }
}